<ion-header>
  <ion-toolbar>
    <ion-title>Referencias Personales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Sr. Edinson Lizandro Vinueza Simbaña</h2>
  <ion-grid>
    <ion-row> 
      <ion-col> Teléfono: 0993234551</ion-col>
    </ion-row>
      <h2>Sra. Marina Isabel Morocho Tapia </h2>
    <ion-row>
      <ion-col>Teléfono: 0979528595</ion-col>
    </ion-row>
    <h2>Sra. Carmen Morocho Tapia</h2>
    <ion-row>
      <ion-col>Teléfono: 0989634901</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
