<ion-header [translucent]="true">
  <ion-toolbar><ion-title> ESTUDIOS ACADEMICOS</ion-title></ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 > <b>PRIMARIA</b></h2>
  <ion-grid>
    <ion-row><ion-col>Escuela Fiscal Dr Jose María Velasco Ibarra</ion-col></ion-row>
  <h2><b>SECUNDARIA </b></h2>
  <ion-row>
  <ion-col>
  Unidad Educativa “EL TRIUNFO” - Título Obtenido: “Bachiller en Administración de Sistemas”  <br>
  </ion-col> <br>
  <ion-img  src="../assets/images/titulo.jpg"></ion-img>
  </ion-row>
  <h2> Tercer Nivel </h2>
<ion-row>
  <ion-col>Universidad de Guayaquil - Facultad de Ingeniería Industrial - Ingeniería en sistemas de información</ion-col> 
</ion-row>
<ion-row>
<ion-col>6to Semestre - Cursando</ion-col><br>
<ion-img  src="../assets/images/u.jpg"></ion-img>
</ion-row>
<br>
<h2> RECONOCIMIENTOS </h2>
<ion-row>
  <ion-col>4to Semestre</ion-col><br><ion-img  src="../assets/images/p.jpg"></ion-img> 
  <ion-col>5to Semestre</ion-col><br><ion-img  src="../assets/images/s.jpg"></ion-img> 
</ion-row>
</ion-grid>
</ion-content>
