<ion-header [translucent]="true">
  <ion-toolbar><ion-title>Datos Personales</ion-title></ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar><ion-title size="large">Datos</ion-title></ion-toolbar>
  </ion-header>
  <ion-img src="../assets/images/yo.jpg"></ion-img>
  <ion-text color="Tertiary "><h1>ADRIANA RAQUEL VINUEZA MOROCHO </h1></ion-text>
  <ion-content class="ion-padding">
    <ion-row>
      <ion-col><b>Dirección:</b> <br>Patria Nueva Sector B</ion-col>
      <ion-col><b>Teléfono: </b><br>0981845733</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b> Email:</b><br>adriana.vinuezam@ug.edu.ec<br>dayandy_13@hotmail.com</ion-col>
    </ion-row>
    <h2><b> Información</b></h2>
    <ion-content>
      <ion-col> <b> CI #:</b></ion-col><ion-col>0941115578 </ion-col> <br>
      <ion-col><b>Lugar de nacimiento:</b></ion-col>
      <ion-col>El Triunfo</ion-col> <br>
      <ion-col><b>Fecha de Nacimiento:</b></ion-col>
      <ion-col>29/agosto/99</ion-col> <br>
      <ion-col><b>Estado civil:</b></ion-col><ion-col>Soltera</ion-col> <br>
      <ion-col><b>Nacionalidad:</b></ion-col>
      <ion-col>Ecuatoriana</ion-col> <br>
    </ion-content>
    <ion-grid>
      <ion-row><ion-col>Cédula: 0941115578</ion-col></ion-row>
      <ion-row><ion-col>Estado Civil: Soltera</ion-col></ion-row>
      <ion-row><ion-col>Nacionalidad: Ecuatoriana</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
