<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
  <ion-col>Asistente en Tienda de mi tí</ion-col>
  <br>
    <ion-img  src="../assets/images/t.jpg"></ion-img>
</ion-row>
  </ion-grid>
</ion-content>
